    html,
    body {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        font-family: sans-serif;
    }

    #menuBar {
        display: flex;
        background-color: #007acc;
        color: white;
        padding: 8px 12px;
        user-select: none;
    }

    #menuBar>div {
        margin-right: 20px;
        cursor: pointer;
    }

    #menuBar>div:hover {
        text-decoration: underline;
    }

    #blocklyDiv {
        flex: 1;
        width: 100%;
        position: relative;
    }

    #runButton {
        position: absolute;
        bottom: 10px;
        left: 10px;
        height: 40px;
        width: 80px;
        font-size: 18px;
        border: none;
        z-index: 1000;
        background-color: #007acc;
        color: white;
        cursor: pointer;
    }